/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a3cfb4;
    color: hsl(0, 0%, 20%);
}

form {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: auto;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: rgb(15, 204, 33);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    align-items: center;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.home_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcfcfc;
}
.result_container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

