body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcfcfc;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: rgb(15, 204, 33);
}

.about-section {
    margin-top: 20px;
}

.about-section p {
    margin-bottom: 20px;
}

.about-section b {
    font-weight: bold;
}

.about-section b::after {
    content: ":";
}
.evaluation_container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}
.analysis_container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}
.evaluation_container img{
    height: 200px;
    width: 280px;
}
.c1, .c2, .c3, .c4 {
    float: left;
    width: 30%;
    padding: 10px;
    display: table;
}

.c1 img, .c2 img, .c3 img, .c4 img {
    max-width: 100%;
    height: auto;
}

.result {
    clear: both; /* Ensures footer is below floated elements */
    color: red;
}



